:root {
  --header-font-size: 3rem;
  // --header-font-size: 2rem;
  --white-ish: #fff;
  --light-grey-ish: #bdbdbd;
  --medium-grey-ish: #7b7b7b;
  --dark-grey-ish: #707070;
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 90%;
  background-color: #629ac4;
}

h1 {
  padding: 1rem;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  font-size: var(--header-font-size);
}

h2 {
  height: 25px;
  font-size: 12px;
  text-align: center;
}

h3 {
  margin: 5px;
  font-size: 1rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  section {
    &.difficulty-info-board {
      margin-bottom: 4rem;
      border-top: solid 3px var(--white-ish);
      border-left: solid 3px var(--white-ish);
      border-right: solid 3px var(--dark-grey-ish);
      border-bottom: solid 3px var(--dark-grey-ish);
    }
    [class$='-info-board'] {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 2px;
      background-color: var(--light-grey-ish);
    }
    [class$='-info-wrapper'] {
      display: flex;
      align-items: center;
      justify-content: center;
      .info-text {
        font-size: 1.2rem;
      }
      .info-number {
        position: relative;
        padding: 6px;
        margin: 0px 3px;
        font-size: 1.4rem;
        border-radius: 2px;
        background-color: var(--light-grey-ish);
        align-self: center;
      }
    }
    &[class^='game-difficulty-'] {
      padding: 8px;
      padding-top: 14px;
      background-color: var(--light-grey-ish);
      border-top: solid 3px var(--white-ish);
      border-left: solid 3px var(--white-ish);
      border-right: solid 3px var(--dark-grey-ish);
      border-bottom: solid 3px var(--dark-grey-ish);
      .mine-info-board {
        padding: 8px;
        border-right: solid 3px var(--white-ish);
        border-bottom: solid 3px var(--white-ish);
        border-top: solid 3px var(--dark-grey-ish);
        border-left: solid 3px var(--dark-grey-ish);
      }
      #game-board {
        display: grid;
        align-self: center;
        justify-self: center;
        border-radius: 3px;
        background-color: var(--light-grey-ish);
        border-right: solid 3px var(--white-ish);
        border-bottom: solid 3px var(--white-ish);
        border-top: solid 3px var(--dark-grey-ish);
        border-left: solid 3px var(--dark-grey-ish);
        &.easy {
          grid-template: repeat(8, minmax(2rem, 1fr)) / repeat(
              8,
              minmax(2rem, 1fr)
            );
        }
        &.medium {
          grid-template: repeat(16, minmax(2rem, 1fr)) / repeat(
              16,
              minmax(2rem, 1fr)
            );
        }

        &.hard {
          grid-template: repeat(24, minmax(2rem, 1fr)) / repeat(
              24,
              minmax(2rem, 1fr)
            );
        }
        &.game-over button {
          cursor: not-allowed;
        }
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 16px;
      background-color: var(--light-grey-ish);
      border-top: solid 3px var(--white-ish);
      border-left: solid 3px var(--white-ish);
      border-bottom: solid 3px var(--medium-grey-ish);
      border-right: solid 3px var(--medium-grey-ish);
      &:disabled {
        opacity: 50%;
      }
      &.revealed {
        cursor: not-allowed;
        border-right: none;
        border-bottom: none;
        border-top: solid 1px var(--medium-grey-ish);
        border-left: solid 1px var(--medium-grey-ish);
        .cell-number {
          font-size: 1.5rem;
          font-family: 'Arial Black', Arial, sans-serif;
          &.cell-num1 {
            color: #00f;
          }
          &.cell-num2 {
            color: #007b00;
          }
          &.cell-num3 {
            color: red;
          }
          &.cell-num4 {
            color: #00007b;
          }
          &.cell-num5 {
            color: #7b0000;
          }
          &.cell-num6 {
            color: #006968;
          }
          &.cell-num7 {
            color: #007b7b;
          }
          &.cell-num8 {
            color: var(--medium-grey-ish);
          }
        }
      }
      &.explosion {
        background-color: red;
      }

      .no-click {
        pointer-events: none;
      }

      .flag {
        width: 80%;
        content: url('https://cardgames.io/minesweeper/images/flag.svg');
      }

      .mine {
        width: 80%;
        content: url('https://cardgames.io/minesweeper/images/mine.svg');
      }

      .not-a-mine {
        width: 80%;
        content: url('https://cardgames.io/minesweeper/images/minestrike.svg');
      }

      .question {
        width: 80%;
        content: url('https://cardgames.io/minesweeper/images/questionmark.svg');
      }
    }
  }
}
